body {
  background-color: rgb(104,187,285);
}
#experiences-box,#studies-box {
  background-color: white;
}
#container {
  display:flex;
}
#left-box {
  float:left;
  background-color: rgb(9,30,45);
  color:white;
}
#right-box {
  margin-left:15px;
}
h2 {
  text-decoration : underline;
}
img {
  width:80px;
  height:100px;
}
